<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6F8DAF51D337F79005C8095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6F8DB0E1D337F79005C8095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6F8DB191D337F79005C8095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
